button {
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
  font-size: 15px;
  color: black;
  cursor: pointer;
}

.default {
  border-color: black;
}

.primary {
  background-color: #0077b6;
  color: white;
}

.dashed {
  border-style: dotted;
}

.text {
  border: none;
  background: none;
}

.link {
  border: none;
  background: none;
  color: #0077b6;
}
